body {
  overflow-x: hidden;
  font-family: "Lato", serif;
  background-image: url("img/landing.png");
}

.navbar {
  text-transform: uppercase;
  background-color: rgba(88, 195, 228);
}

.navbar-brand img {
  height: 2em;
}

form {
  text-align: center;
}

.form p {
  text-align: center;
  font-size: 1.5em;
}

input[type="text"] {
  width: 33%;
  height: 6vh;
  vertical-align: bottom;
}

input[type="submit"] {
  cursor: pointer;
  font-size: 1em;
  height: 6vh;
}

.caption {
  width: 100%;
  max-width: 100%;
  position: absolute;
  top: 15%;
  z-index: 1;
}

.caption img {
  height: 40vh;
}

.caption h3 {
  color: white;
  font-size: 2.4rem;
  text-transform: uppercase;
  padding-bottom: 2rem;
}

.caption h2 {
  color: #6cd1ef;
  font-size: 3em;
  padding-bottom: 0.5rem;
  font-family: "Roboto", serif;
}

div.maps {
  text-align: center;
}

iframe {
  max-width: 600px;
}

.btn {
  font-family: "Montserrat", serif;
  border-width: medium;
  border-color: #24beec;
  font-size: 0.9rem;
  background-color: #4fc8ec;
}

h3.heading {
  text-align: center;
  font-family: fantasy;
  font-size: 2.5rem;
  text-transform: uppercase;
  padding-top: 1rem;
  margin-bottom: 1.9rem;
}

.padding {
  padding: 4rem 0;
}

@media only screen and (max-height: 600px) {
  .caption h3 {
    padding-bottom: 0;
  }

  .caption h2 {
    padding-bottom: 0;
  }
}

@media only screen and (max-width: 370px) {
  .caption img {
    width: 100%;
    height: auto;
  }
}
@media only screen and (max-width: 400px) {
  .caption h2 {
    font-size: 2em;
  }

  .form p {
    font-size: 0.8em;
  }

  input[type="text"] {
    width: 50%;
  }
}
@media only screen and (max-width: 300px) {
  div.linksnav {
    display: none;
  }
}

#sponsors p {
  text-align: center;
}

.no-padding .col-md-6 {
  padding: 0;
}

.card {
  margin: 2rem;
}

.footer .row {
  background-color: #6cd1ef;
  padding: 1rem 2rem 3rem;
  color: white;
}

.footer img {
  height: 5rem;
  margin: 1.5rem 0;
}

/*--- iOS Landing Page Fix --*/
.landing {
  position: relative;
  width: 100%;
  height: 100vh;
  display: table;
  z-index: -1;
}
.home-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.home-inner {
  position: fixed;
  display: table;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
}

a.btn {
  cursor: default;
}

.edgepadding {
  padding-left: 8rem;
  padding-right: 8rem;
}

@media only screen and (max-width: 768px) {
  .edgepadding {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

div.jumbotron {
  margin-bottom: 0;
}

div.linksnav a :first-child {
  padding-left: 1rem;
}
div.linksnav a {
  padding-left: 0.5rem;
  font-size: 1.4rem;
  color: white;
}

div.linkslight a {
  padding-left: 1rem;
  padding-right: 1rem;
  color: white;
}

div.links a:hover,
div.linkslight a:hover {
  color: #505962;
}

.toggle .toggle-title {
  position: relative;
  display: block;
  border-top: 1px solid black;
  margin-bottom: 6px;
}

.toggle .toggle-title h3 {
  font-size: 16px;
  margin: 0;
  cursor: pointer;
}

.toggle .toggle-inner {
  padding: 7px 25px 10px;
  display: none;
  margin: -7px 0 6px;
}

.toggle .toggle-inner div {
  max-width: 100%;
}

.toggle .toggle-title .title-name {
  display: block;
  padding: 25px 25px 14px;
}

.toggle .toggle-title a i {
  font-size: 22px;
  margin-right: 5px;
}

.toggle .toggle-title i {
  position: absolute;
  background: url(img/plus_minus.png) 0 -24px no-repeat;
  width: 24px;
  height: 24px;
  transition: all 0.3s ease;
  margin: 20px;
  right: -20px;
}

.toggle .toggle-title.active i {
  background: url(img/plus_minus.png) no-repeat;
}

@media only screen and (min-width: 768px) {
  .toggle .toggle-title h3 {
    font-size: 22px;
    margin: 0;
    line-height: 1;
    cursor: pointer;
    font-weight: 200;
  }
  .toggle p {
    font-size: 16px;
  }
}

.apply {
  font-size: 18px;
  text-decoration-style: bold;
  margin: 5px;
  color: white;
}

.hacker {
  font-size: 30px;
}

h5 {
  font-family: "Roboto", serif;
  color: #6cd1ef;
}
